<div class="full-view">
  <div class="title">
    <mat-icon class="validity">fingerprint</mat-icon>
    <span class="title-text validity">Vigencia</span>
  </div>

  <div class="menu-tildes">
      <div routerLink="/consultation/folio" class="menu-tilde-item">
        <mat-icon>home</mat-icon>
        <span>Consulta tu folio</span>
      </div>
      <div routerLink="/consultation/clinic" class="menu-tilde-item">
        <mat-icon>home</mat-icon>
        <span>Consulta tu clínica</span>
      </div>
  </div>
<app-footer class="footer"></app-footer>
</div>
