<div>
  <p>Primera consulta</p>
  <p>{{dataGeo.latitude}} Latitud</p>
  <p>{{dataGeo.longitude}} Longitud</p>
  <p>Suscripcion de ubicacion</p>
  <p>{{currentPosition.latitude}} Latitud</p>
  <p>{{currentPosition.longitude}} Longitud</p>
  <p>{{isAndroid}}</p>
  <p *ngIf="isAndroid">Es en android</p>
</div>

<!-- <mat-form-field>
  <mat-select>
    <mat-option>None</mat-option>
    <mat-option>Option 1</mat-option>
    <mat-option>Option 2</mat-option>
    <mat-option>Option 3</mat-option>
  </mat-select>
</mat-form-field> -->
