<div class="full-content" fxLayout="column">
    <div *ngIf="!startRoute" id="map_canvas" class="full-viewport">
      
    </div>
    <div class="{{startRoute? 'route-map full-viewport route': 'route-map-none full-viewport'}}">
        <div class="{{startRoute? 'route-map': 'route-map-none'}}"  id="map_canvas_route">

        </div>
        <div id="directionsPanel"></div>
    </div>
    <div *ngIf="mode && mode=='route' && !startRoute" class="actions" 
    fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button type="button"
        (click)="onCalculateRoute()">
            Ir a direccion
        </button>
    </div>
    <div class="search-bar" fxflex="100" 
    fxLayout="row" fxLayoutAlign="center center"
    *ngIf="mode && mode!=='route'">
        
        <mat-form-field class="search-input">
            <input matInput placeholder="Buscar centro de salud" [matAutocomplete]="auto"
            (input)="filteredClues($event.target.value)">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option.INSTITUCION"
                (onSelectionChange)="onSelectClues(option)">
                    {{option.INSTITUCION}}
                </mat-option>
            </mat-autocomplete> 
        </mat-form-field>
        
    </div>
</div>

