<div class="footer" fxLayout="row" fxLayoutAlign="space-around center">
  <button routerLink="/ubication" mat-icon-button>
    <mat-icon class="ubication">place</mat-icon>
  </button>
  <button routerLink="/home" mat-icon-button>
      <mat-icon class="validity">fingerprint</mat-icon>
  </button>
  <button routerLink="/home" mat-icon-button>
    <mat-icon class="health">favorite_border</mat-icon>
  </button>
  <button routerLink="/home" mat-icon-button>
      <mat-icon class="prevention">healing</mat-icon>
    </button>
</div>