.footer {
    
    background-color:#00065a;
    // Clases unicas para el color del  borde del los menus
    .ubication {
        color: #a5c955;
    }
    .validity {
        color: #009fff;
    }
    .health {
        color: #d1999f;
    }
    .prevention {
        color: 	#ffc000;
    }
    .home {
        color: #FFF;
    }

}