.title-text {
    font-size: 36px;
    // padding-left: 15px;
    border-bottom: 1px solid #000;
    margin: 15px;
}

.form {
    padding: 15px;
}

.full-view {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    .content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        .info {
            height: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            p {
                margin: 5px;
            }
        }
        .map-container {
            height: 100%;
        }
    }
}