<div class="full-view">
  <div class="content">
    <p class="title">
      <mat-icon>info</mat-icon>
      Acerca de
    </p>
    <span>
      Ponemos a tu disposición la aplicación REPSSYUC para realizar consultas de folios y ubicar tus centros de salud,
      tips de salud y demás.
    </span>
    <p>
      <span>
        En REPSSYUC Seguro popular seguimos trabajando para mejorar los servicios, continuamente estaremos agregando servicios y funcionalidades
      </span>
    </p>
    <p>
      Ofrecida por:
    </p>
    <span><b>REPSSYUC Seguro popular</b></span>
    <p>
      Versión:
    </p>
    <span>1.0.0</span>
    <p>
      Desarrollado por:
    </p>
    <span>REPSSYUC Seguro Popular</span>
    <p>
      <a target="_blank" href="http://repssyuc.gob.mx/web/">repssyuc.gob.mx/web/</a>
    </p>
  </div>
  <app-footer class="footer"></app-footer>
</div>