<div class="full-view">
    <div class="title">
      <mat-icon class="info">info</mat-icon>
      <span class="title-text info">Información</span>
    </div>
  
    <div class="menu-tildes">
        <div  routerLink="/information/about" class="menu-tilde-item">
          <mat-icon>info</mat-icon>
          <span>Acerca de</span>
        </div>
        <div routerLink="/information/privacy" class="menu-tilde-item">
          <mat-icon>search</mat-icon>
          <span>Aviso de privacidad</span>
        </div>
    </div>
  <app-footer class="footer"></app-footer>
</div>