<mat-nav-list fxLayout="column" fxLayoutAlign="space-between center" 
class="list-navigation">
  <div>
    <a mat-list-item routerLink="/home">
      <mat-icon class="icon">home</mat-icon>
      <span class="nav-caption">Inicio</span>
    </a>
    <a mat-list-item routerLink="/ubication">
      <mat-icon class="icon">place</mat-icon>
      <span class="nav-caption">Ubica tu centro de salud</span>
    </a>
  </div>
  <img class="image-logo" src="../../../assets/images/Logo Gobierno del Estado de Yucatán 2018-2024-01 vertical.jpg">
</mat-nav-list>