<mat-nav-list fxLayout="column" fxLayoutAlign="space-between center" 
class="list-navigation">
  <div>
    <a mat-list-item routerLink="/home">
      <mat-icon class="icon">home</mat-icon>
      <span class="nav-caption">Inicio</span>
    </a>
    <a mat-list-item routerLink="/ubication">
      <mat-icon class="icon">place</mat-icon>
      <span class="nav-caption">Ubica</span>
    </a>
    <a mat-list-item routerLink="/consultation">
      <mat-icon class="icon">fingerprint</mat-icon>
      <span class="nav-caption">Vigencia</span>
    </a>
    <a mat-list-item routerLink="/health">
      <mat-icon class="icon">favorite_border</mat-icon>
      <span class="nav-caption">Mi salud</span>
    </a>
    <a mat-list-item routerLink="/prevention">
      <mat-icon class="icon">healing</mat-icon>
      <span class="nav-caption">Prevención</span>
    </a>
  </div>
  <img class="image-logo" src="../../../assets/images/logo gobierno estado horizontal.svg">
</mat-nav-list>