.list-navigation {
    height: 100%;
    background-color: 	#0b84bf;
    div {
        a, .icon {
            color: #FFF;
        }
        a:hover {
            color:#0b84bf;
            background-color: #FFF;
            .icon {
                color:#0b84bf;
            }
        }
        .nav-caption{
            margin-left: 20px;
        }
    }
    .image-logo {
        width: 100%;
        padding: 5px;
        margin-bottom: 20px;
        // height: 200px;
    }
}