<div class="full-view">
    <div class="title">
      <mat-icon class="health">favorite_border</mat-icon>
      <span class="title-text health">Mi salud</span>
    </div>
  
    <div class="menu-tildes">
        <div class="menu-tilde-item">
          <mat-icon>home</mat-icon>
          <span>Estado nutricional</span>
        </div>
        <div class="menu-tilde-item">
          <mat-icon>home</mat-icon>
          <span>Diabetes</span>
        </div>
    </div>
  <app-footer class="footer"></app-footer>
</div>
  