<div class="full-view">
    <div class="title">
      <mat-icon class="prevention">healing</mat-icon>
      <span class="title-text prevention">Prevención</span>
    </div>
  
    <div class="menu-tildes">
        <div class="menu-tilde-item">
          <mat-icon>home</mat-icon>
          <span>Cuidado de niños</span>
        </div>
        <div class="menu-tilde-item">
          <mat-icon>home</mat-icon>
          <span>Mayores de edad</span>
        </div>
    </div>
  <app-footer class="footer"></app-footer>
</div>
  