<div class="full-view">
  <div class="content">
    <p class="title-privacy"><b>AVISO DE PRIVACIDAD SIMPLIFICADO</b></p>
    <span>
        <b>El Régimen Estatal de Protección Social en Salud de Yucatán (REPSSY)</b>, con domicilio en la Calle 66 número 455 entre 53 y 55 de la Colonia Centro, CP. 97000, de la Ciudad de Mérida, Yucatán, México; es responsable del tratamiento de los datos personales que nos proporcione.
    </span>
    <p>
      <b>
        ¿Qué datos personales recabamos y para qué fines?
      </b>
    </p>
    <span>Sus datos personales serán utilizados con la finalidad de integrar, administrar y actualizar el Padrón de Beneficiarios del Sistema de Protección Social en Salud, efectuar las afiliaciones o reafiliaciones correspondientes y verificar la vigencia de sus derechos.</span>
    <span>Para las finalidades antes señaladas se recaban los siguientes datos personales: nombre, género, edad, grado máximo de estudios, número de teléfono y/o celular y correo electrónico, número de integrantes del núcleo familiar, así como datos patrimoniales a modo enunciativo pero no limitativo, como lo son el tipo de vivienda, régimen patrimonial, número de habitaciones, características básicas como instalaciones sanitarias, tipo de suelo, y electrodomésticos y vehículo personal. De la misma manera se informa que se recaba información personal sensible referente a si habla alguna lengua indígena.</span>
    <p>
        <b>
          ¿Qué datos personales recabamos y para qué fines?
        </b>
    </p>
    <span>
        Se informa que se no se realizarán transferencias de los datos personales recabados a otras instituciones públicas y privadas, a terceros o a particulares que así lo soliciten. Con excepción del envío mensual y actualizado de la base de datos a la Comisión Nacional de Protección Social en Salud con la finalidad de integrar el Padrón de Beneficiarios del Sistema de Protección Social en Salud.
    </span>
    <p>
      <b>
          Mecanismos para manifestar su negativa al tratamiento de datos personales
      </b>
    </p>
    <span>
        Puede manifestar su negativa a que sus datos personales sean tratados para alguna de las finalidades anteriores, desde este momento comunicándolo al correo electrónico: <a href="mailto:solicitudes.repssy@ssy.gob.mx">solicitudes.repssy@ssy.gob.mx</a>
    </span>
    <p>
        <b>
            Sitio donde puede consultar el aviso de privacidad integral.
        </b>
      </p>
      <span>Si desea conocer nuestro aviso de privacidad integral, lo podrá consultar en nuestro portal de internet www.repssyuc.gob.mx y en las oficinas del REPSSY, donde siempre estará a la vista la última versión que rige el tratamiento de los datos personales proporcionados.</span>
  </div>
  <app-footer class="footer"></app-footer>
</div>
