// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.card {
    background-color: white;
    box-shadow: 0px 3px 10px lightgray;
    border-radius: 2px;
    padding: 30px 20px;
    margin: 0px 10px 0 10px;
}

.pointer {
    cursor: pointer;
}

.footer {
    align-self: end;
}

.menu-tilde-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    background-color: white;
    box-shadow: 0px 3px 10px lightgray;
    border: 1px solid #666;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 120px;
    height: 120px;
    justify-self: center;
    mat-icon {
        height: 65px;
        font-size: 65px;
        width: 100%;
    }
}

.full-view {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    .menu-tildes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    .title {
        margin: 15px 15px 15px 15px;
        .title-text {
            font-size: 36px;
            padding-left: 15px;
        }
    }
}

.input {
    width: 100%;
}
