<div class="full-view">
    <div class="title">
      <mat-icon class="ubication">place</mat-icon>
      <span class="title-text ubication">Ubica</span>
    </div>
  
    <div class="menu-tildes">
        <div routerLink="" class="menu-tilde-item">
          <mat-icon>home</mat-icon>
          <span>Módulo seguro popular</span>
        </div>
        <div routerLink="/ubication/clues-location" class="menu-tilde-item">
          <mat-icon>home</mat-icon>
          <span>Unidades médicas</span>
        </div>
    </div>
  <app-footer class="footer"></app-footer>
</div>
  