<div class="full-view" fxLayout="column" fxLayoutAlign="start strech">
  <div class="content-footer">

    <div class="menu-ubication">
      <div class="title">
          <!-- Contenido  -->
          <mat-icon class="icon">place</mat-icon>
          <span class="title-text">Ubica</span>
      </div>
      <div class="tildes">
        <div class="menu-tildes" routerLink="/ubication/mao-location" 
          fxLayout="column" fxLayoutAlign="center center">
          <mat-icon>home</mat-icon>
          <p class="text-align-center">Módulo seguro popular</p>
        </div>
        <div class="menu-tildes" routerLink="/ubication/clues-location" 
          fxLayout="column" fxLayoutAlign="center center">
            <mat-icon>home</mat-icon>
            <p class="text-align-center">Unidades médicas</p>
        </div>
      </div>
    </div>
    <app-footer class="footer"></app-footer>
  </div>
 
</div>