<div class="full-viewport" fxLayout="row" fxLayout.xs="column" 
fxLayoutAlign="center center" fxLayoutAlign.xs="start center" 
fxLayoutGap="20px" fxLayoutGap.xs="0px">
  <div>
    <img class="image" src="../../assets/images/Logo Gobierno del Estado de Yucatán 2018-2024-03.jpg">
  </div>
  <div class="menu-items">
      <div fxLayout="column" fxLayoutAlign="start center" 
        routerLink="/ubication" class="tilde ubication">
        <mat-icon class="icon">place</mat-icon>
        <p>Ubica</p>
      </div>
      <div fxLayout="column" fxLayoutAlign="start center" 
        routerLink="/home" class="tilde validity">
        <mat-icon class="icon">fingerprint</mat-icon>
        <p>Vigencia</p>
      </div>
      <div fxLayout="column" fxLayoutAlign="start center" 
        routerLink="/home" class="tilde health">
        <mat-icon class="icon">favorite_border</mat-icon>
        <p>Mi salud</p>
      </div>
      <div fxLayout="column" fxLayoutAlign="start center" 
      routerLink="/home" class="tilde prevention">
        <mat-icon class="icon">healing</mat-icon>
        <p>Prevención</p>
      </div>
  </div>
  

</div>