.full-viewport {
    height: 90vh;
    width: 100vw;

    .image {
        padding: 15px;
        width: 100vw;
        // margin-left: 20px;
        // height: 200px;
    }

    .menu-items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        width: 100vw;
        padding: 5px 10px 5px 10px;
        .tilde {
            background-color: white;
            box-shadow: 0px 3px 10px lightgray;
            border: 1px solid #666;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            width: 90px;
            height: 90px;
            justify-self: center;
            p {
                margin: 0px;
            }
            mat-icon {
                height: 65px;
                font-size: 65px;
                width: 100%;
            }
        }

        // Clases unicas para el color del  borde del los menus
        .ubication {
            border-color: #a5c955;
            .icon, p {
                color: #a5c955;
            }
        }
        .validity {
            border-color: #009fff;
            .icon, p {
                color: #009fff;
            }
        }
        .health {
            border-color: #d1999f;
            .icon, p {
                color:  #d1999f;
            }
        }
        .prevention {
            border-color: 	#ffc000;
            .icon, p {
                color: 	#ffc000;
            }
        }
        // FIN de clases para los menus
    }

}
